# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Virtual Environment
# =====================
venv/
.env
.env.*

# =====================
# Jupyter / Notebooks
# =====================
.ipynb_checkpoints/

# =====================
# Data (IMPORTANT)
# =====================
data/
*.csv

# =====================
# Models & Outputs
# =====================
models/
*.h5
*.pt
*.pkl
*.joblib
*.npy

# =====================
# Logs
# =====================
logs/
*.log

# =====================
# IDE / OS
# =====================
.vscode/
.idea/
.DS_Store
Thumbs.db
